<app-nav-bar (newArticleEvent)="prependArticle($event)"></app-nav-bar>

<h1 class="text-4xl text-center">
  <div *ngIf="isAuthenticated(); else unAuthenticated">
    <span class="text-gray-700"> Welcome </span>
    <span>{{ user?.name | uppercase }}</span>
  </div>
  <ng-template #unAuthenticated>Welcome to Kogu</ng-template>
</h1>

<main>
  <ul class="max-w-screen-md mx-auto">
    <li *ngFor="let article of articles" class="mb-4">
      <app-article-card [article]="article"></app-article-card>
    </li>
  </ul>
</main>
