<header class="flex items-center px-4 py-2 shadow-md">
  <div class="flex items-center">
    <a class="mr-4" href="/">KOGU</a>
    <form>
      <input placeholder="search for blogs..." class="text-black" type="text" />
    </form>
  </div>

  <div class="ml-auto">
    <a
      class="hover:bg-gray-100 text-blue-700 px-3 py-2 rounded"
      href="/auth/login"
      >Log in</a
    >
    <a
      class="ml-2 px-3 py-2 rounded bg-blue-700 hover:bg-blue-800 text-white"
      href="/auth/register"
      >Create account</a
    >
  </div>
</header>
