<div
  class="
    p-4
    fixed
    top-1/2
    left-1/2
    transform
    -translate-x-1/2 -translate-y-1/2
    max-w-screen-md
    w-full
    border-gray-400 border-2 border-opacity-50
    bg-white
    text-4xl
  "
>
  <div>
    <h1 class="text-4xl">Create new article</h1>
    <button (click)="closePopup()">X</button>
  </div>
  <form [formGroup]="article" (ngSubmit)="onSubmit()">
    <div>
      <label class="label"> Title </label>
      <input formControlName="title" class="input" type="text" />
    </div>
    <div>
      <label> Description </label>
      <textarea
        formControlName="description"
        class="input"
        type="text"
      ></textarea>
    </div>
    <div>
      <label> Text </label>
      <textarea formControlName="text" class="input" type="text"></textarea>
    </div>
    <button type="submit" class="bg-blue-700 text-white">Create</button>
  </form>
</div>
